In [1]:
import pandas as pd
pd.set_option('display.max_rows', 500)

In [2]:
path='data.csv'

In [3]:
health_df=pd.read_csv(path)

In [4]:
health_df.drop(health_df.columns[4:49], axis=1, inplace=True)

In [5]:
health_df

,Country Name,Country Code,Indicator Name,Indicator Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Arab World,ARB,% of females ages 15-49 having comprehensive c...,SH.HIV.KNOW.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,% of males ages 15-49 having comprehensive cor...,SH.HIV.KNOW.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,50.732590,50.329135,49.999851,49.887046,49.781207,49.672975,49.536047,49.383745,48.796558,48.196418,NaN,NaN
3,Arab World,ARB,Adults (ages 15+) and children (0-14 years) li...,SH.HIV.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89005,Zimbabwe,ZWE,Use of insecticide-treated bed nets (% of unde...,SH.MLR.NETS.ZS,NaN,3.100000,NaN,NaN,17.300000,NaN,9.700000,NaN,NaN,26.800000,NaN,NaN
89006,Zimbabwe,ZWE,Use of Intermittent Preventive Treatment of ma...,SH.MLR.SPF2.ZS,NaN,6.300000,NaN,NaN,13.900000,NaN,7.300000,NaN,NaN,12.900000,NaN,NaN
89007,Zimbabwe,ZWE,Vitamin A supplementation coverage rate (% of ...,SN.ITK.VITA.ZS,81.000000,67.000000,83.000000,0.000000,77.000000,49.000000,47.000000,61.000000,34.000000,32.000000,NaN,NaN
89008,Zimbabwe,ZWE,Wanted fertility rate (births per woman),SP.DYN.WFRT,NaN,3.300000,NaN,NaN,NaN,NaN,3.500000,NaN,NaN,NaN,NaN,NaN
89009,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,58.045596,58.331272,58.586086,58.760796,58.812421,58.825943,58.899308,58.939080,58.900126,58.822335,58.855551,NaN

In [11]:
codes = ['SP.ADO.TFRT','SP.DYN.WFRT']
health_df1 = health_df[health_df['Indicator Code'].isin(codes)]

In [12]:
health_df1

,Country Name,Country Code,Indicator Name,Indicator Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
2,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,50.732590,50.329135,49.999851,49.887046,49.781207,49.672975,49.536047,49.383745,48.796558,48.196418,NaN,NaN
343,Arab World,ARB,Wanted fertility rate (births per woman),SP.DYN.WFRT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347,Caribbean small states,CSS,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,65.069706,64.303839,63.616591,62.919882,62.151656,61.286779,60.463396,59.559314,58.363478,57.109166,NaN,NaN
688,Caribbean small states,CSS,Wanted fertility rate (births per woman),SP.DYN.WFRT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
692,Central Europe and the Baltics,CEB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,22.704656,22.657832,22.468324,21.904769,21.428494,21.088440,20.811315,20.629395,20.062750,19.519840,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88318,"Yemen, Rep.",YEM,Wanted fertility rate (births per woman),SP.DYN.WFRT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN
88322,Zambia,ZMB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,130.518200,126.265600,122.013000,118.276800,114.540600,110.804400,107.068200,103.332000,98.173800,93.015600,NaN,NaN
88663,Zambia,ZMB,Wanted fertility rate (births per woman),SP.DYN.WFRT,NaN,NaN,5.200000,NaN,NaN,NaN,NaN,NaN,NaN,4.500000,NaN,NaN
88667,Zimbabwe,ZWE,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,113.410600,115.457800,117.505000,116.670200,115.835400,115.000600,114.165800,113.331000,111.866400,110.401800,NaN,NaN
89008,Zimbabwe,ZWE,Wanted fertility rate (births per woman),SP.DYN.WFRT,NaN,3.300000,NaN,NaN,NaN,NaN,3.500000,NaN,NaN,NaN,NaN,NaN

In [13]:
health_df2 = health_df[health_df['Indicator Code'].isin(codes)]